<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="~{admin/common/common}">
<head>
    <title>查看日志详情</title>
</head>

<body layout:fragment="content">
    <form id="myForm" th:action="@{/admin/loan}" th:method="get"  th:object="${model}">
        <div class="page-container">
            <div class="cl pd-5 bg-1 bk-gray">
                <div class="row cl">
                    <label class="form-label col-xs-4 col-sm-3">借款人：</label>
                        <h4><strong><span th:text="*{loanName}"></span></strong></h4>
                    <label class="form-label col-xs-4 col-sm-3">借款金额：</label>
                        <h4><strong><span th:text="*{loanPrice}"></span> 元</strong><h4>
                    <label class="form-label col-xs-4 col-sm-3">月付利息：</label>
                        <h4><strong><span th:text="*{accrual}"></span> 元</strong><h4>
                </div>
            </div>
            <table class="table table-border table-bordered table-hover table-bg">
                <thead>
                <tr>
                    <th scope="col" colspan="6">还款信息</th>
                </tr>
                <tr class="text-c">
                    <th>ID</th>
                    <th>还款时间</th>
                    <th>应还利息</th>
                    <th>实际还款</th>
                    <th>所欠利息</th>
                    <th>备注</th>
                </tr>
                </thead>
                <tbody>
                <tr class="text-c" th:each="model:${pageInfo}" th:object="${model}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{repayTime}"></td>
                    <td th:text="*{accrualInterestPayable}"></td>
                    <td th:text="*{actualPaymentAmount}"></td>
                    <td th:text="*{arrearage}"></td>
                    <td th:text="*{remark}"></td>
                </tr>
                </tbody>
            </table>
            <!--<div th:replace="admin/common/page :: page"></div>-->
        </div>
    </form>
</body>
</html>